<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baraka Bank</title>
    <link rel="shortcut icon" href="/assets/Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styleHome.css">
</head>
<body>
    <header>            
        <img src="assets/bankLogo.png" alt="Baraka Bank">
        <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="services">Nos Services</a></li>
                <li><a href="contact">Nous Contacter</a></li>
            </ul>
        </nav>
    </header>
    

    <main>
        <div>
            <h1>MyDigiBank</h1>
            <h3>Ma banque quand je veux, où je veux</h3>
            <p>Plus intuitive, plus riche et plus performante, la nouvelle version de MyDigibank a été repensée pour vous offrir une expérience moderne qui redéfinit la manière dont vous gérez vos comptes au quotidien.</p>
            <img src="/assets/onlineBank.png" alt="MyDigiBank">
            <a href = "#">En savoir plus</a>
        </div>
        <div>
            <h1>Pourquoi devenir client Baraka Bank</h1>
            <p>Un service personnalisé, des produits innovants, une banque qui vous accompagne et vous soutient dans vos projets.</p>
            <img src="/assets/bankClient.jpg" alt="Votre banque">
            <a href = "#">Ouvrir mon compte</a>
        </div>
        </main>

    <footer>
        <p>© 2025 Baraka Bank. Tous droits résevés</p>
    </footer>
</body>
</html>