<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baraka Bank</title>
    <link rel="shortcut icon" href="/assets/Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="/assets/bankLogo.png" alt="Baraka Bank">
        <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact">Contact</a></li>
                </ul>
        </nav>
    </header>

    <main>
    <h1>Accueil</h1>
    <div>
        <h1>MyDigiBank</h1>
        <p>Ma banque quand je veux, où je veux</p>
        <img src="/assets/onlineBank.png" alt="MyDigiBank">
        <a href = "#">En savoir plus</a>
    </div>
    <div>
        <h1>Pourquoi devenir client Baraka Bank</h1>
        <p>* Un service personnalisé
            * Des produits innovants
            * Une banque qui vous accompagne
            * Vos projets soutenus
        </p>
        <img src="/assets/bankClient.jpg" alt="Votre banque">
        <a href = "#">Ouvrir mon compte</a>
    </div>
    </main>

    <footer>
        <p>© 2025 Baraka Bank. Tous droits résevés</p>
    </footer>
</body>
</html>