<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Baraka Bank</title>
    <link rel="shortcut icon" href="/assets/Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styleContact.css">
</head>
<body>
    <header>
        <img src="/assets/bankLogo.png" alt="Baraka Bank">
        <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="services">Nos Services</a></li>
                <li><a href="contact">Nous Contacter</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Contactez-nous</h1>
        <div>
            <h1>Par téléphone</h1>
            <p>Vous pouvez joindre le DIRECT Call du <b>Lundi au Vendredi de 9h à 17h</b> au 3319</p>
        
            <h1>Nous écrire</h1>
            <p>Un renseignement, une suggestion ou une réclamation, envoyez-nous votre message.</p>
            <form>
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" placeholder="Votre nom">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Votre email">
                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Votre message"></textarea>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </main>

    <footer>
        <p>© 2025 Baraka Bank. Tous droits résevés</p>
    </footer>
</body>
</html>