<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baraka Bank</title>
    <link rel="shortcut icon" href="/assets/Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styleErr.css">
</head>
<body>
    <header>
        <img src="assets/bankLogo.png" alt="Baraka Bank">
        <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="services">Nos Services</a></li>
                <li><a href="contact">Nous Contacter</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h1>Notre site est actuellement fermé</h1>
    <h3>Veuillez revenir durant nos horaires de travail</h3>
    <img src="/assets/Closed.png" alt="Fermé">
    <p>Du Lundi au Vendredi de 9h à 17h</p>
    </main>
    <footer>
        <p>© 2025 Baraka Bank. Tous droits résevés</p>
    </footer>
</body>
</html>