<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baraka Bank</title>
    <link rel="shortcut icon" href="/assets/Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Veuillez revenir aux horaires de travail</h1>

    <footer>
        <p>© 2025 Baraka Bank. Tous droits résevés</p>
    </footer>
</body>
</html>