<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Baraka Bank</title>
    <link rel="shortcut icon" href="/assets/Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="/assets/bankLogo.png" alt="Baraka Bank">
        <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact">Contact</a></li>
                </ul>
        </nav>
    </header>

    <main>
        <h1>Services</h1>
        <div>
            <h2>Comptes et packages</h2>
            <p>Trouver la formule qui vous convienne parmi notre sélection</p>
            <img src="/assets/openAccount.jpeg" alt="Comptes">
            <h2>Cartes</h2>
            <p>Que vous souhaitez régler vos achats et retirer votre argent où que vous soyez, ou bien donner une dimension internationales à vos transactions, nous avons la solution pour vous</p>
            <img src="/assets/bankCards.jpg" alt="Cartes">
            <h2>Epargne et placements</h2>
            <p>Constituez-vous un capital, préparez votre retraite, ou encore financez vos projets grâce à nos solutions d'épargne et de placements</p>
            <img src="/assets/bankSavings.jpg" alt="Epargne">
        </div>
    </main>

    <footer>
        <p>© 2025 Baraka Bank. Tous droits résevés</p>
    </footer>
</body>
</html>